package-lock.json
/.google
/node_modules
/helpers/node_modules

/authentication-microservice/node_modules
/authentication-microservice/logs
/authentication-microservice/package-lock.json

/person-microservice/node_modules
/person-microservice/logs
/person-microservice/package-lock.json

/job-microservice/node_modules
/job-microservice/logs
/job-microservice/package-lock.json
